<!---->

<div class="centered">
    <span class="result speed">Speed: {{ speed }} WPM</span>
    <span class="result right">Right: {{ right }}%</span>
    <span class="result typos">Typos: {{ typos }}%</span>
</div>

