
.centered {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.result {
  font-family: monospace;
  font-size: 125%;
  font-weight: bold;
  padding: 5px 20px;
  margin: 10px 20px;
}

.speed {
  color: darkgoldenrod;
  background: lightyellow;
}

.right {
  color: darkgreen;
  background: lightgreen;
}

.typos {
  color: darkred;
  background: palevioletred;
}
