<!---->

<label for="OvertyperTypeArea">Read the text and type over it below.
  &nbsp; Timing starts when you begin typing.</label>

<br>
<br>

<div id="OvertyperTypeArea"
     tabindex="0"
     class="framed"
     (click)="whenClicked($event)"
     (keydown)="whenKeyDown($event)"
     (keyup)="whenKeyUp($event)">
</div>

