
<label for="TypeArea">Type the text below.
  &nbsp; Timing starts when you begin typing.</label>
<br>
<br>
<textarea name="TypeArea" id="TypeArea" class="typing" rows="10" style="width: 100%">Typer.</textarea>
