<!---->

<div [hidden]="!shouldBeDisplayed">
  <!-- This div covers the whole screen.  The pop-over should
      not be included in it, or it will be semitransparent. -->
  <div class="scrim">
    <!-- No content here. -->
  </div>

  <!-- This div is the pop-over, with its z-index making it appear in front. -->
  <div class="overlay">
    <p>Test time is up!
      &nbsp; Thank you for typing.</p>

    <p>You can see your speed and accuracy results at the bottom.</p>

    <p>You can continue typing for more practice, which won't change your results.</p>

    <div style="width: 20%; margin: auto;">
      <button class="choice click" (click)="onOkClick()">OK</button>
    </div>
  </div>

</div>
