
/* region Grid */

.grid {
  display: grid;
  grid-template-columns: 14% 70% 16%;
}

.cell {
  padding: 5px 10px;
  border: solid 1px lightgray;
}

.full-width {
  grid-column: 1 / 4;
}

.left-side {
  grid-column: 1 / 1;
}

.middle {
  grid-column: 2 / 2;
}

.right-side {
  grid-column: 3 / 3;
}

/* endregion Grid */

