<h1 class="title">Type-O-Matic</h1>

<br>

<div class="grid">
  <div class="full-width cell">
    <app-welcome
      (readAndTypeWasClicked)="whenWelcomeReadAndTypeClicked()"
      (typeOverWasClicked)="whenWelcomeTypeOverClicked()"
    ></app-welcome>
  </div>

  <div class="left-side cell">
    <app-timer></app-timer>
  </div>

  <div class="middle cell">
    <app-reader
      class="read-and-type"
      [hidden]="this.DoHideReadAndType"
    ></app-reader>
    <app-typer
      class="read-and-type"
      [hidden]="this.DoHideReadAndType"
    ></app-typer>
    <app-overtyper
      class="type-over"
      [hidden]="this.DoHideTypeOver"
    ></app-overtyper>
  </div>

  <div class="right-side cell">
    <app-chooser></app-chooser>
  </div>

  <div class="full-width cell">
    <app-results></app-results>
  </div>
</div>

<app-time-ender></app-time-ender>
