
/* region Grid */

.grid {
  display: grid;
  grid-template-columns: 75% 25%;
}

.left-side {
  grid-column: 1 / 1;
}

.right-side {
  grid-column: 2 / 2;
}

/* endregion Grid */

.button {
  font-size: 125%;
}

.chosen {
  font-weight: bold;
}

