<!---->

<button id="ToggleWelcome" class="reframe" (click)="whenToggleWelcomeClicked()"> ±</button>

<h2>Welcome!</h2>

<div class="hideable" [hidden]="isHidden">
  <div class="grid">
    <div class="left-side">
      <p>Choose a time at the left or a text at right to type, or click Random Text on the right, then start typing!</p>
      <p>You can read in one place and type in another, like real life, or type over the text you're reading, for
        practice.</p>
      <p>Just click on the button to choose!</p>
    </div>
    <div class="right-side">
      <button id="ReadAndType" class="button click read-and-type" (click)="whenReadAndTypeClicked()">Read And Type
      </button>
      <br>
      <button id="TypeOver" class="button click type-over" (click)="whenTypeOverClicked()">Type Over</button>
    </div>
  </div>
</div>
