<!---->

<button id="ToggleChooser" class="reframe" (click)="whenToggleChooserClicked()"> ±</button>
<h3>Texts</h3>
<br>
<br>

<div class="hideable" [hidden]="isHidden">
  <h4>Choose one...</h4>

  <button class="choice click">Random Text</button>
  <br>

  <div *ngFor="let textName of textNames">
    <button
      class="name click"
      [id]="textName"
      (click)="whenNameButtonClicked($event)"
    >{{ textName }}
    </button>
    <br>
  </div>
  <br>

  <button class="special-choice click">Save This Text</button>
  <br>

</div>
