<!---->

<button id="ToggleTimer" class="reframe" (click)="whenToggleTimerClicked()"> ±</button>
<h3>Times</h3>
<br>
<br>

<div class="hideable" [hidden]="isHidden">
  <h4>Choose one...</h4>

  <button
    class="choice click"
    *ngFor="let timeAndText of timesAndTexts"
    [id]="timeAndText.time"
    (click)="whenTimeButtonClicked($event)"
  >
    {{timeAndText.text}}
  </button>

</div>
