
* {
  font-family: sans-serif;
}

body {
  margin: 30px 20px;
}

h3 {
  text-align: center;
}

.reading {
  font-family: monospace;
  font-size: 200%;
}

.typing {
  font-family: monospace;
  font-size: 250%;
  color: gray;
}

.framed {
  border: solid 2px gray;
}

.char {
  font-family: monospace;
  font-size: 250%;
  color: dimgray;

  margin: 0px 1px 1px 0px;
  background: whitesmoke;
  white-space: pre-wrap;
}

.good {
  color: darkgreen;
  background: palegreen;
}

.bad {
  color: darkred;
  background: mistyrose;
}

@keyframes flash {
  from { text-decoration: none }
  to { text-decoration: underline }
}

.next {
  color: white;
  background: deepskyblue;
  animation: flash;
  animation-duration: 0.25s;
  animation-iteration-count: infinite;
}

.choice {
  font-size: 125%;
  font-weight: bold;
  color: black;
  width: 90%;
}

.click {
  border-radius: 0px;
  background: whitesmoke;
  padding: 8px 10px 6px 10px;
  margin: 5px;
}

.special-choice {
  font-size: 125%;
  color: black;
  background: lightcyan;
  width: 90%;
}

.type-over {
  background: lightyellow;
}

.read-and-type {
  background: lightgreen;
}

.reframe {
  position: relative;
  float: right;

  color: white;
  background: lightgray;

  font-size: 250%;
  font-weight: bold;

  border: solid 0px white;
  border-radius: 0px;
}

.reframe:hover {
  transform: scale(1.025, 1.025);
  color: white;
  background: gray;

  transition: all 0.1s;
}

.reframe:active {
  top: 1px;
  left: 1px;

  color: gray;
  background: dimgray;
}

.title {
  font-size: 300%;
  text-align: center;
  padding: 35px 5px;
  background: radial-gradient(white, darkseagreen);
}

.scrim {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  z-index: 1;
}

.overlay {
  font-size: 110%;
  background: white;
  border: solid 2px darkgreen;
  padding: 15px 20px;
  width: 42%;
  position: fixed;
  top: 25%;
  left: 29%;
  z-index: 2;
}

